<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='image/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='image/favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='image/apple-touch-icon.png') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">


  <!-- Local CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  {% block extra_css %}
  {% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand montserrat-underline-400" href="/">RepoMiner</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/about' %}active{% endif %}" href="/about">About</a>
          </li>
        </ul>
        <div class="d-flex">
          <ion-icon name="moon-outline" id="theme-toggle"
            style="cursor: pointer; font-size: 22px; color: #fff;"></ion-icon>
        </div>
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999;">
    <div class="alert alert-danger auto-dismiss">
    {{ message }}
    </div>
    </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="bg-dark text-white pt-5 pb-4 mt-4">
    <div class="container text-center text-md-left">
      <div class="row text-center text-md-left">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h5 class="text-uppercase mb-4 font-weight-boldx montserrat-underline-400">RepoMiner</h5>
          <p>&copy; <span id="year"></span> RepoMiner.</br> All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>



  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

  <!-- Icons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- JS Script -->
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();

  </script>

  <script>
    const toggleBtn = document.getElementById("theme-toggle");

    // Load saved theme
    if (localStorage.getItem("theme") === "dark") {
      document.body.classList.add("dark-mode");
      toggleBtn.setAttribute("name", "sunny-outline");
    }

    // Toggle on click
    toggleBtn.addEventListener("click", () => {
      document.body.classList.toggle("dark-mode");

      if (document.body.classList.contains("dark-mode")) {
        localStorage.setItem("theme", "dark");
        toggleBtn.setAttribute("name", "sunny-outline");
      } else {
        localStorage.setItem("theme", "light");
        toggleBtn.setAttribute("name", "moon-outline");
      }
    });
  </script>

  <script>
document.addEventListener("DOMContentLoaded", function () {
  const alerts = document.querySelectorAll(".auto-dismiss");

  alerts.forEach(alert => {
    setTimeout(() => {
      alert.style.transition = "opacity 0.5s ease";
      alert.style.opacity = "0";
      
      setTimeout(() => {
        alert.remove();
      }, 500); // wait for fade out
    }, 5000); // 5 seconds
  });
});
</script>


  {% block extra_script %}{% endblock %}
</body>

</html>