{% extends "base.html" %} {% block title %}Home &mdash; RepoMiner{% endblock %}
{% block content %}

<div
  class="container d-flex flex-column justify-content-center align-items-center text-center"
  style="height: 100vh"
>
  <!-- Heading -->
  <h1 class="fw-bold mb-3 montserrat-underline-400">RepoMiner</h1>
  <p class="mb-4">
    Download specific files and folders from any public GitHub repository
  </p>

  <!-- Form -->
  <form method="post" style="width: 100%; max-width: 500px" id="repoForm">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="input-group">
          <span class="input-group-text">
            <ion-icon name="link"></ion-icon>
          </span>

          <input
            type="url"
            name="repo_url"
            class="form-control shadow-none"
            id="repoUrl"
            placeholder="Enter GitHub Repo URL"
            required
          />

          <button type="submit" class="btn btn-dark" id="submitBtn">
            Get Repo
          </button>
        </div>
      </div>
    </div>
  </form>
  <p class="mt-4 small">Example: https://github.com/user/repo</p>
</div>

<div class="container" id="repoResults" style="display: none">
  <h3 id="repoTitle" class="mb-3 d-flex justify-content-center align-items-center"></h3>
  <p class="mb-2 d-flex justify-content-center align-items-center">Browse and download files or folders</p>
  <p class="text-muted" id="repoPath"></p>
  <div class="list-group" id="repoList"></div>
</div>

<!-- Loading Toast/Message -->
<div
  id="loadingToast"
  style="
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
    min-width: 250px;
    background: transparent;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  "
>
  <div style="display: flex; align-items: center; gap: 12px">
    <div
      class="spinner-border spinner-border-sm text-primary"
      style="width: 1.2rem; height: 1.2rem"
      role="status"
    >
    </div>
    <span id="toastMessage"
      ></span
    >
  </div>
</div>

{% endblock %} {% block extra_script %}

<script>
  // Toast messages function
  async function showToast(message, type = "info", duration = 5000) {
    const toast = document.getElementById("loadingToast");
    const text = document.getElementById("toastMessage");

    text.textContent = message;

    toast.style.display = "block";

    toast.style.borderColor = type === "error" ? "#dc3545" : "#dee2e6";

    setTimeout(() => {
      toast.style.display = "none";
    }, duration);

  }

  // Function to fetch content
  async function fetchRepoContent(repoUrl) {
    const resultDiv = document.getElementById("repoResults");
    const toast = document.getElementById("loadingToast");
    const repoList = document.getElementById("repoList");
    const title = document.getElementById("repoTitle");

    showToast("Fetching repository data... This may take a moment", "info", 7000);
    

    try {
      const response = await fetch('/api/repo-content', {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          repo_url: repoUrl,
          
        }),
      });
      const data = await response.json();

      if (!response.ok) {
        showToast("Failed to fetch repository.... Please check your URL!", "error")
        return;
      }
      
      resultDiv.style.display = "block";
      renderResults(data);
      toast.style.display = "none";


    }
    catch (error) {
     showToast("Something went wrong!", "error");
     return { error: "Something went wromg"};
    }

  }

  // File download function
  function downloadFile(url, filename) {

    showToast("Download being initialize...", "info", 200)

    fetch(url)
      .then(res => res.blob())
      .then(blob => {
        const blobUrl = window.URL.createObjectURL(blob);
        const a = document.createElement("a");
        a.href = blobUrl;
        a.download = filename;
        document.body.appendChild(a);
        a.click();
        a.remove();
        window.URL.revokeObjectURL(blob);
      })
      .catch(err => console.error("Download Failed:", err));
  }

  // Folder download function
  async function downloadFolder(path) {
    const repoUrl = document.getElementById("repoUrl").value;
    const toast = document.getElementById("loadingToast");

    showToast("Creating a zip to be downloaded....Be patient!", "info")

    try {
      const response = await fetch("/api/download-folder", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        repo_url: repoUrl,
        path: path,
      }),
    });

    if (!response.ok) {
      throw new Error("Download Failed!")
    }

    
    const blob = await response.blob();
    console.log(response.headers.get("Content-Disposition"));

    const contentDisposition = response.headers.get("Content-Disposition");

    let filename = "download.zip";

    if (contentDisposition) {
      const match = contentDisposition.match(/filename="?(.+)"?/);
      if (match) {
        filename = match[1];
      }
    }

    const url = window.URL.createObjectURL(blob);

    const a = document.createElement("a");
    a.href = url;
    a.download = filename;
    document.body.appendChild(a);
    a.click();
    a.remove();

    window.URL.revokeObjectURL(blob);
    }
    catch (error) {
      showToast("Failed to download....", "error")
    }
    
  }


  // Rendering function to render the content for displaying
  function renderResults(data, parentElement = null) {
  const container = parentElement || document.getElementById("repoList");

  if (!parentElement) {
    const title = document.getElementById("repoTitle");
    document.getElementById("repoResults").style.display = "block";
    title.textContent = `${data.owner} / ${data.repo}`;
    container.innerHTML = "";
  }

  data.items.forEach((item) => {
    const wrapper = document.createElement("div");
    wrapper.className = "list-group-item";

    // Folder UI
    if (item.is_dir) {
      wrapper.innerHTML = `
        <div class="d-flex justify-content-between align-items-center folder-header" style="cursor:pointer;">
          <div class="d-flex align-items-center gap-2">
            <ion-icon name="chevron-down-outline"></ion-icon>
            <ion-icon name="folder"></ion-icon>
            <span>${item.name}</span>
          </div>
          <button class="btn btn-sm btn-dark" onclick="event.stopPropagation(); downloadFolder('${item.path}')">
          <ion-icon name="cloud-download"></ion-icon>
          </button>
        </div>

        <div class="child-container ms-4 mt-2" style="display:none;"></div>
      `;

      const header = wrapper.querySelector(".folder-header");
      const childContainer = wrapper.querySelector(".child-container");

      let isLoaded = false;

      header.addEventListener("click", async () => {
        const isVisible = childContainer.style.display === "block";

        // Toggle UI
        childContainer.style.display = isVisible ? "none" : "block";

        // Fetch only once 
        if (!isLoaded) {
          const repoUrl = document.getElementById("repoUrl").value;

          const response = await fetch("/api/repo-content", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              repo_url: repoUrl,
              path: item.path,
            }),
          });

          const data = await response.json();

          // Render children inside this folder
          renderResults(data, childContainer);

          isLoaded = true;
        }
      });

    } else {
      // File UI
      wrapper.innerHTML = `
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center gap-2">
            <ion-icon name="document-outline"></ion-icon>
            <span>${item.name}</span>
          </div>

          ${
            item.download_url
              ? `<button onclick="downloadFile('${item.download_url}', '${item.name}')" class="btn btn-sm btn-dark">
                  <ion-icon name="cloud-download-outline"></ion-icon>
                </button>`
              : ""
          }
        </div>
      `;
    }

    container.appendChild(wrapper);
  });
}

  // Handling the form submission 
  document.getElementById("repoForm").addEventListener("submit", function (e) {
    e.preventDefault();

    const repoUrl = document.getElementById("repoUrl").value;

    fetchRepoContent(repoUrl);
  });
  
</script>

{% endblock %}
